.App {
  text-align: center;

  &-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    ul {
      display: flex;
      width: 100vw;
      padding: unset;
      margin: unset;
      li {
        padding: 20px;
      }
    }
  }

  &-link {
    color: #61dafb;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
