html {
  overflow-x: hidden;
}
.App {
  text-align: center;

  &-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    a {
      color: white;
      padding: 20px;

      &:hover {
        background: white;
        color:#282c34;
      }
    }

    ul {
      display: flex;
      width: 100vw;
      padding: unset;
      margin: unset;

      li {
        display: flex;
      }
    }
  }

  input {
    margin: 10px;
  }

  .success, .fail {
    display: inline-flex;
    padding: 10px;
    margin: 50px;
    border-radius: 5px;
    color: white;
  }

  .success {
    background-color: green;
  }

  .fail {
    background-color: red;
  }

  &-link {
    color: #61dafb;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .carList {
    li {
      display: flex;
      justify-content: space-between;
      width: 400px;
      margin: auto;

      &:nth-child(odd) {
        background: ghostwhite;
      }

      span {
        text-align: left;
        word-break: break-all;
        align-self: center;
      }
 
      .icons {
        min-width: 55px;
        display: inline-flex;
        
        a {
          color: #282c34;
    
          &.icon {
            margin: 5px;
            padding: 2.5px 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
          }

          &.icon:hover {
            color: white;
            background: #282c34;
          }

          &.delete {
            color: white;
            background: red;

            & svg {
              width: 10px;
            }
          }

          &.delete:hover {
            color: red;
            background: white;
          }
        }
      }
    }
  }

  .car-create {
    [type=submit] {
      position: absolute;
      right: 0;
      margin: 10px;
    }
  
    .car-item-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 50%;
      max-width: 300px;
      margin: auto;
    }
  }

  .car {
    ul {
      text-align: left;
      margin: unset;
    }

    &-field {
      width: 50%;
      max-width: 300px;  
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    &-item {
      text-transform: capitalize;
    }

    &-card {
      display: inline-flex;
      margin: auto;
    }

    &-image {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      box-shadow: 5px 5px 10px black;
    }
  }

  footer {
    height: 45vh;
    background: darkkhaki;
    margin-top: 50px;
    display: block;

    .back-button {
      color: white;
      background: #282c34;
      padding: 10px 20px;
      display: inline-flex;
      justify-content: center;
      align-items: self-end;
      margin: 40px;
    }
  }
}
